.skill__container {
  /* height: calc(100% - 12rem); */
  height: max-content;
  display: flex;
  align-items: center;
}

.skill__cards {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
}

.skill__card {
  height: width;

  background: var(--color-bg-variant);
  margin: 1rem;
  padding: 1rem;

  border: 1px solid transparent;
  border-radius: 1rem;

  text-align: center;

  transition: var(--transition);
}

.skill__card:hover {
  border-color: var(--color-primary);
  background: var(--color-bg-variant-opacity);
}

.skill__card-logo {
  font-size: 5rem;
}
.skill__card-title {
}
/* ----- MEDIA QUERIES (MEDIUM DEVICES) ----*/
@media screen and (max-width: 1023px) {
}

/* ----- MEDIA QUERIES (SMALL DEVICES) ----*/
@media screen and (max-width: 767px) {
  .skill__cards {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
  }
}
