.about__container {
  height: calc(100% - 12rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about__me {
  width: 100%;
  height: max-content;
  border: 1px solid var(--color-primary);
  border-radius: 1rem;
  padding: 1.2rem;
  text-align: center;
}

.about__me-header {
  margin-bottom: 1rem;
}

.about__me-content {
  /* text-align: justify; */
}

.about__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.5rem;
  padding: 1rem;
}

.about__card {
  height: 100%;

  padding: 2rem;
  margin: 0.5rem;

  background: var(--color-bg-variant);
  border: 1px solid transparent;
  border-radius: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: var(--transition);
}

.about__card:hover {
  background: var(--color-bg-variant-opacity);
  border-color: var(--color-primary);
  cursor: default;
}

.about__card-content {
  text-align: center;
  font-size: 1.2rem;
}

.about__btn {
}

/* ----- MEDIA QUERIES (MEDIUM DEVICES) ----*/
@media screen and (max-width: 1023px) {
  .about__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .about__me {
    width: 100%;
  }

  .about__content {
    width: 100%;
  }
}

/* ----- MEDIA QUERIES (SMALL DEVICES) ----*/
@media screen and (max-width: 767px) {
  .about__container {
  }

  .about__cards {
    flex-direction: column;
    padding: 0;
    margin: 1rem 0;
  }

  .about__card {
  }

  .about__card-logo {
    font-size: 2rem;
    margin: auto;
  }
}
