.about__container {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: calc(100% - 12rem);
}

.about__me {
  width: 50%;
  border: 1px solid var(--color-primary);
  border-radius: 1rem;
  padding: 1rem;
}

.about__me-header {
}

.about__me-content {
  text-align: justify;
}

.about__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.5rem;
  padding: 1rem;
}

.about__card {
  width: 100%;
  background-color: var(--color-bg-variant);
  border: 1px solid transparent;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  transition: var(--transition);
  margin: 0.5rem;
}

.about__card:hover {
  background: var(--color-bg-variant-opacity);
  border-color: var(--color-primary);
  cursor: default;
}

.about__btn {
}

/* ----- MEDIA QUERIES (MEDIUM DEVICES) ----*/
@media screen and (max-width: 1023px) {
  .about__container {
    flex-direction: column;
    justify-content: center;
  }

  .about__me {
    width: 100%;
  }

  .about__content {
    width: 100%;
  }
}

/* ----- MEDIA QUERIES (SMALL DEVICES) ----*/
@media screen and (max-width: 767px) {
  .about__container {
    flex-direction: column;
    justify-content: center;
  }

  .about__me {
    width: 100%;
  }

  .about__content {
    width: 100%;
  }

  .about__cards {
    flex-direction: column;
    padding: 0;
    margin: 1rem 0;
  }

  .about__card {
    display: grid;
    grid-template-columns: 40% 60%;
  }

  .about__card-logo {
    font-size: 2rem;
    margin: auto;
  }
}
